<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password strength checker</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

<header>
    <h1>Password strength checker</h1>
</header>


<form method="POST" action="{{ url_for('index') }}">
    <div class="container">
        <h1>Check how secure is your password</h1>
        <h3>Please enter the password below:</h3>

        <div class="input">
            <label>
                <input type="text" name="password">
                <input type="submit" value="Check Password" class="button">
            </label>

        </div>

    </div>

</form>


</body>
</html>